{% extends 'base.html' %}

{% block content %}

{% for item in cart %}
<div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">{{item['title']}}</h5>
          <p class="card-text">{{item['price']}}</p>
          <p class="card-text">{{item['quantity']}}</p>
          <a href="cart/edit/{{item['_id']}}" class="btn btn-primary">Edit</a>

          <p><form method='POST' action="/cart/delete/{{ item._id }}">
            <button type='submit'>Delete</button>
        </form></p>
        </div>
</div>
{% endfor %}

{% endblock %}  