{% extends 'base.html' %}

{% block content %}
<div class="card" style="width: 40rem; height: 40rem; padding: 40px">
        <img src= "static/shirts{{ item['image']}}" width="75%"height="75%"/>
        <div class="card-body">
            <h5 class="card-title">{{item['title']}}</h5>
            <p class="card-text">{{item['description']}}</p>
            <a href="/" class="btn btn-primary">Back</a>
            <a href="/cart/new" class="btn btn-primary">add to cart</a>
        </div>
</div>
{% endblock %}